

.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    width: 200px;
    height: 300px;
    margin: 0px 25px;
}
.form > label > input {
    border: 3px solid rgba(123, 108, 185, 0.522);
    border-radius: 15px;
    margin: 10px;
}
.form > input{
    background-color: rgba(123, 108, 185, 0.522);
    border-radius: 15px;
    border: none;
    margin: 10px;
    height: 30px;
}


.roww{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    padding: 40px 80px;
    border-radius: 25px;
    border:rgb(124, 108, 185) solid 3px;
    background-color: rgba(123, 108, 185, 0.522);
}
.about {
    display: flex;
    flex-direction: column;
}
.roww > a {
    rotate: 45deg;
    text-decoration: none;
    font-size: 28pt;
    width: 50px;
    height: 50px;
    color:rgb(124, 108, 185);
}