body {
    font-family: Arial;
    margin: 0;
    background-color: #e6f7ff;
}
header {
    height: 90px;
    background-color: #6A5ACD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > a, button > a, td a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav > a {
    margin: 0 0 0 50px;
}
nav {
    padding-top: 30px;
    align-items: center;
}

.h1 {
    margin: 90px 0 40px 170px;
    display: flex;
    height: 50px;
    align-items: center;
    width: 600px;
}
h1 {
    margin-right: 50px;
}
.new{
    display: flex;
    flex-direction: row;
}
.new input{
    width: 250px;
}
.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.logout button, .logout p {
    margin: 0 50px 0 0;
}

button {
    width: 200px;
    border: none;
    height: 40px;
    background-color: #9370DB;
    color: white;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: row;
    width: 500px;
    text-align: left;
    margin-left: 35%;
}
form label {
    margin: 15px;
}
form input, form select {
    border: 2px solid rgba(106, 90, 205, 0.48);
    height: 30px;
}

.form_col {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.form_row{
    display: flex;
    flex-direction: row;
}
.form_col button {
    margin-top: 40px;
    margin-left: 15px;
}

table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 15px solid #e6f7ff;
    border-top: 5px solid #e6f7ff;
    border-collapse: collapse;
    border-radius: 15px;
    text-align: left;
}
table th {

    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid #e6f7ff;
}
table td {
    padding: 10px 25px;
    border: none;

    background-color: rgba(106, 90, 205, 0.48);
    border-bottom: 5px solid #e6f7ff;
}

table td:last-child{
    width: 0px;
    height: 25px;
    text-align: center;
}
table td:last-child a{
    margin: 0;
}
.patient {
    display: flex;
    flex-direction: row;
}
.patient form{
    margin-top: 20px;
    margin-left: 200px;
    width: 250px;
}
.patient table {
    margin-left: 50px;
    width: 800px;
}